#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.quiz {
    text-align: left;
    max-width: 800px;
}

.start__btn {
    margin-top: 30px;
}

.answer-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.answer-item {
    border: 1px solid #4d5b9e;
    border-radius: 8px;
    padding: 2px 14px;
    font-size: 12px;
    cursor: pointer;
}

.disabled-answers .answer-item {
    border: 1px solid #8f94af;
    color: #8f94af;
    cursor: not-allowed;
}

.answer-item.selected {
    background-color: #d6dbf5;
    border-color: #d6dbf5;
}

.answer-item.rightAnswer {
    background-color: #94d7a2;
    border-color: #94d7a2;
}

.disabled-answers .answer-item.rightAnswer {
    color: #293264;
}

.answer-item.wrongAnswer {
    background-color: #f8bcbc;
    border-color: #f8bcbc;
}

.disabled-answers .answer-item.wrongAnswer {
    background-color: #f7d9db;
    border-color: #f7d9db;
}
